.navbar{
    background-color: #363636;
    padding: 10px 20px;
    text-align: left;
    
}

.navbar h1 {
    color: white;
    font-size: 34px;
    margin: 0;
    display: inline-block;
    margin: 0;
}

.navbar .links a{
    color: white;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}
.AudiLogo {
    max-width: 100px;
    margin-right: 10px;
}